html, body, #map {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	overflow: hidden;
}

.location-control {
	cursor: pointer;
	height: 28px;
	width: 28px;
	background: white url("../images/location.gif") no-repeat center center;
}

.auth-control {
	cursor: pointer;
	height: 28px;
	width: 28px;
	background: white;
}
